/** Background container-fluid**/

body {
    background: url("../img/87897.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/** Form Container **/

.form-container {
    position: absolute;
    top: 15vh;
    background: #ffffff46;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}


/** Form Control Login **/

.form-control {
    border-radius: 10px;
}


/** Text-muted **/

.text-mute {
    color: #f71a1a;
    font-style: italic;
    font-size: 12px;
}


/** Card **/

.card-header {
    text-align: center;
}

.card-title {
    text-align: center;
}

.btn {
    border-radius: 10px;
}